<p>Va rugam introduceti textul:</p>

<textarea cols="30" rows="4" #titleInput></textarea>
<br>
<button type="submit" (click) = 'countWords(titleInput.value)'>Count words</button>
<br>
<table>
    <tbody>
        <tr>
            <th>Cuvant</th>
            <th>Nr. instante</th>
        </tr>
        <tr *ngFor="let currentWord of countedWords; let i = index">
            <td>{{currentWord.value}}</td>
            <td>{{currentWord.count}}</td>
        </tr>
    </tbody>
</table>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
